---
import ForgotP from '../../../src/icons/forgot-password.webp'
import Lock from '../../icons/lock-solid-purple.svg'
import '../components/Register.css'
---
<head>
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <h2 class="left-text">Dont Be Panic We Are Here To Help You Out!</h2>
        </div>
        <img src={ForgotP.src} alt="Music Player" height="450" width="500" class="equipment" style="margin-top: 150px;">
        <div class="form" style="margin-left: -90px;">
            <h1 class="heading">Reset Password</h1>
            <p class="details">Choose a new & strong password of minimum 8 characters.</p>
            <form action="">
                <div class="seprate-field" style="padding: 70px 0px 0px 0px; margin-bottom: -80px;">
                    <input type="password" id="password" required style="width: 470px;">
                    <label class="label">New Password</label>
                    <button type="button" id="button"><img src={Lock.src} alt="" height="20" id="lock-icon" class="icon lock-icon"></button>
                </div>
                <button type="submit" class="btn" style="margin: 80px 0px 10px 220px; width: 150px;">Set Password</button>
                <br>
                <a href='/components/Login' class="anchor" style="margin: 0px 0px 0px 225px;">Move me to Login Page!</a>
            </form>
        </div>
    </div>
</body>

<style>
    .details {
        margin: 0px 0px 0px 220px;
        width: 500px;
        font-size: 17px;
    }

    .seprate-field {
        margin-top: -60px;
    }
</style>

<script>
    document.getElementById("button").onclick = togglePassword;

    function togglePassword() {
        var passwordField = document.getElementById("password") as HTMLInputElement;

        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>